body {
    background-color: #242424;
}

h1 {
    color: #AAAA00;
}

p, pre, b, strong, li, .math-block {
   color: #AAAAAA;
}

.impress-on-sfarsit {
    background-image: imagini/haumea_aproape.jpg
}
